.ios,
    .md {
        
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
/* ---------- login ---------- */



@font-face {
    font-family: 'DejaVu Sans';
    url('../font/DejaVuSans-webfont.eot');
    src: url('../font/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DejaVuSans.ttf') format('truetype'),
         url('../font/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Roboto';  
	src:url('../font/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'Roboto Bold';  
	src:url('../font/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'Roboto Italic';  
	src:url('../font/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 @font-face {
    font-family: 'Roboto Medium';
	src: url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
	margin:0px;
	padding:0px;
	overflow:hidden;
}
.divMain
{
	height:100vh; 
	width:100vw;
	background-color:#18072B;
}
#leftal
{
	background-color:Black;
	height:100vh;
	width:5.31vw;
	border:solid 0px red;
	float:left;
	/*min-width:34px;*/
}

#dvbody
{
	position:relative;
	background-color:#18072B;
	float:left;
	width:94.69vw;
	height:100vh;
	/*min-width:606px;*/
	border:solid 0px red;
	overflow:hidden;
}
#dvbody1
{
	position:relative;
	background-color:#18072B;
	float:left;
	width:94.69vw;
	height:100vh;
	/*min-width:606px;*/
	border:solid 0px red;
	overflow:hidden;
	z-index:9;
}
#dvbody2
{
	position:relative;
	background-color:#18072B;
	float:left;
	width:94.69vw;
	height:100vh;
	/*min-width:606px;*/
	border:solid 0px red;
	overflow:hidden;
	display:none;
	z-index:10;
}
#dvbody3
{
	position:relative;
	background-color:#18072B;
	float:left;
	width:94.69vw;
	height:100vh;
	/*min-width:606px;*/
	border:solid 0px red;
	overflow:hidden;
	z-index:11;
	display:none;
}
#dvbody4
{
	position:relative;
	background-color:#18072B;
	float:left;
	width:94.69vw;
	height:100vh;
	/*min-width:606px;*/
	border:solid 0px red;
	overflow:hidden;
	z-index:85;
	display:none;
}
.TpntArea{
	position:absolute;
	background-color:#18072B;
	float:left;
	width:94.69vw;
	height:100vh;
	z-index:51;
	
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	display:none;
}
.hoollogos
{
	margin-left:4.1vh;
	height:27.86vh;
}
.dvlogos {
	height:27.86vh;
	float:left;
}
.plays_btn
{	position:absolute;
	width:11.38vh;
	height:11.38vh;
	float:right;
	top:50%;
	right:9.16vh;

-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);	
-o-transform:translateY(-50%);
transform:translateY(-50%);

}
.lplay_btn{
position:absolute;
width:11.38vh;
height:11.38vh;
}		    
.logogaps
{
	height:4.1vh;
}
.logos
{
	height:27.86vh;
}
.plays
{	
	position: relative;
	width:11.38vh;
	height:27.86vh;
	right:9.16vh;
	float:right;
}
.lplay
{
	width:11.38vh;
	height:11.38vh;
	position: absolute;

	top:50%;
	left:0px;

-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);	
-o-transform:translateY(-50%);
transform:translateY(-50%);

}
#Left_Icon_One{
margin:0px;
padding:0px;
position:absolute;
width:2.65vw;
height:2.65vw;
left:1.25vw;
top:4.1vh;
}
#Left_Icon_Two{
margin:0px;
padding:0px;
position:absolute;
width:2.65vw;
height:2.65vw;
bottom:4.1vh;
left:1.25vw;
display:none;
}
#Left_Icon_Three{
margin:0px;
padding:0px;
position:absolute;
width:2.65vw;
height:2.65vw;
bottom:4.1vh;
left:1.25vw;
display:none;
}
#Left_Icon_Four{
margin:0px;
padding:0px;
position:absolute;
width:2.65vw;
height:3vw;
bottom:15.27vh;
left:1.25vw;
display:none;
}
#Left_Icon_Five{
margin:0px;
padding:0px;
position:absolute;
width:1.71vw;
height:2.18vw;
bottom:4.72vh;
left:1.71vw;
display:none;
}
#Left_Icon_Five img{
margin:0px;
padding:0px;
position:absolute;
width:1.71vw;
height:2.18vw;
}
#Left_Icon_Six{
position:absolute;
width:1.09vw;
height:1.71vw;
bottom:16.66vh;
left:2.03vw;
display:none;
}
#Left_Icon_Six img{
margin:0px;
padding:0px;
position:absolute;
width:1.09vw;
height:1.71vw;
}
#Left_Icon_Seven{
position:absolute;
width:1.87vw;
height:1.87vw;
bottom:27.77vh;
left:1.71vw;
display:none;
}
#Left_Icon_Seven img{
margin:0px;
padding:0px;
position:absolute;
width:1.87vw;
height:1.87vw;
}

#Left_Icon_One img, #Left_Icon_Two img, #Left_Icon_Three img, #Left_Icon_Four img{
margin:0px;
padding:0px;
position:absolute;
width:2.65vw;
height:2.65vw;
}
#Left_Icon_Four img{
margin:0px;
padding:0px;
position:absolute;
width:2.65vw;
height:3vw;
}
/************************/
.LeftOneArea{
	width:13.88vh;
	height:100vh;
	/*background-color:#CCC;*/
	float:left;
}

.NorthPlayArea{
	width:100%;
	height:13.88vh;
	/*background-color:#CCC;*/
	float:left;
}
.pname{
	width:100%;
	height:5.55vh;
	/*background-color:#777000;*/
	float:left;
	position: relative;
    display: inline-block;
}

.PlayArea{
	width:100%;
	height:61.11vh;
	/*background-color:#700111;*/
	float:left;
}
.SauthPlayArea{
	width:100%;
	height:13.88vh;
	float:left;
}
.Lft1{
margin:0px;
padding:0px;
width:19.44vh;
float:left;
}
.Mdl{
position:absolute;
left:50%;
width:72.81vw;
height:100vh;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.Rgt1{
margin:0px;
padding:0px;
width:19.44vh;
float:right;
}

.L_2_Text{
	width:5.55vh;
	height:100vh;
	float:left;
	position: relative;
    display: inline-block;
}

.R_2_Text{
	width:5.55vh;
	height:100vh;
	/*background-color:#777;*/
	float:right;
	 position: relative;
    display: inline-block;	
}
.inner{
	top:50%;
	left:50%;
	position:absolute;	
	margin:0px;
	padding:0px;
	color:#B2B2B2;
	font-family: 'Roboto';  
	font-size:2.77vh;	
}
.inner span{
	margin:0px;
	padding:0px;
	color:#B2B2B2;
	font-family: 'DejaVu Sans';  
	font-size:2.77vh;	
}

.inner1{
	position:absolute;	
	top:50%;
	left:50%;
	margin:0px;
	padding:0px;
	color:#B2B2B2;
	font-family: 'Roboto';  
	font-size:2.77vh;	

}

.Tx_1{
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%)  translateY(-50%) ;
}

.rotateL{	
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
 -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);	
 transform: translateX(-50%) translateY(-50%) rotate(-90deg);	 
}
.rotateR{	
     -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
 -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);	
 transform: translateX(-50%) translateY(-50%) rotate(90deg);	 
}

.R_2{
	width:13.88vh;
	height:100vh;
	/*background-color:#CCC;*/
	float:right;
}
.Pointer{
position:absolute;

height:15.56vh;
width:15.56vh;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
}
.P_Tx_N{
margin:0px;
padding:0px;
float:left;
position:relative;

height:4.72vh;
width:100%;
display: inline-block;	
}

.P_Tx_EW{
float:left;
position:relative;

height:15.56vh;
width:4.72vh;
display: inline-block;	
}
.P_Tx_MDB{
margin:0px;
padding:0px;
position:relative;
float:left;
/*background-color:green;*/
height:15.56vh;
width:6.11vh;
}
.Pointer_MD{
position:relative;
float:left;
/*background-color:red;*/
margin:0px;
padding:0px;
height:6.11vh;
width:6.11vh;
}
.Pointer_MD img{
position:absolute;
margin:0px;
padding:0px;
height:6.11vh;
width:6.11vh;
}
.ADD_AICON_L img{
margin:0px;
padding:0px;
width:11.38vh;
height:11.38vh;
float:right;
}
.ADD_AICON_L, .ADD_AICON_R{
margin:0px;
padding:0px;
}
.ADD_AICON_R img{
margin:0px;
padding:0px;
width:11.38vh;
height:11.38vh;
float:left;
}
.BID_TOP_ADD img{
position:absolute;
bottom:0px;
}
.BID_TOP_ADD{
margin:0px;
padding:0px;
position:relative;
height:13.88vh;
width:11.38vh;
top:50%;
left:50%;
/*background-color:red;*/

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
}
.BID_Bottom_ADD img{
position:absolute;
top:0px;
}
.BID_Bottom_ADD{
margin:0px;
padding:0px;
position:relative;
height:13.88vh;
width:11.38vh;
top:50%;
left:50%;
/*background-color:red;*/

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
}

.BID_TopCard{
position:absolute;
height:13.88vh;
width:47.22vh;
top:0px;
left:50%;

-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);	
}
.BID_TopCard_New_L{
position:absolute;
height:13.88vh;
width:47.22vh;
top:50%;
left:-16.777vh;

transform:translateY(-50%) rotate(-90deg);		
}
.BID_TopCard_New_R{
position:absolute;
height:13.88vh;
width:47.22vh;
top:50%;
right:-16.777vh;

transform:translateY(-50%) rotate(90deg);		
}

.WBG{
float:left;
height:13.88vh;
width:14.72vh;

-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

background: #ff8e00; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff8e00 1%, #f7c442 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ff8e00 1%,#f7c442 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ff8e00 1%,#f7c442 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e00', endColorstr='#f7c442',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.WBDR{
height:13.88vh;
width:14.72vh;

-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

border-top:solid 0px #202B4F;
border-right:solid 1px #202B4F;
border-bottom:solid 1px #202B4F;
border-left:solid 1px #202B4F;
}

#BID_TOP_L, #BID_RIGHT_L, #BID_LEFT_L{
float:left;
position:relative;
}
#BID_TOP_M, #BID_RIGHT_M, #BID_LEFT_M{
position:absolute;
left:50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);

}
#BID_TOP_R, #BID_RIGHT_R, #BID_LEFT_R{
position:relative;
float:right;
}
.FIVECARDS_1{
position:absolute;
height:2.77vh;
width:100%;
bottom:4.16vh;
}
.FIVECARDS_DB1{
position:absolute;
height:2.77vh;
width:100%;
bottom:5.35vh;
}
.FIVECARDS_DB2{
position:absolute;
height:2.77vh;
width:100%;
bottom:2.7vh;
}
.BID_body_1{
position:absolute;
height:2.77vh;
width:100%;
bottom:6.66vh;
}
.BID_TX_1{
margin:0px;
padding:0px;
position:relative;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
		
color:#fff;
text-align:center;
font-family: 'Roboto';  
font-size:2.77vh;
}
.BID_body_2{
position:absolute;
height:6.66vh;
width:100%;
bottom:0px;
}
.BID_TX_2{
margin:0px;
padding:0px;
position:relative;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);

		
color:#fff;
text-align:center;
font-family: 'Roboto';  
font-size:4.44vh;
}
.BID_SimbolTX{
margin:0px;
padding:0px;
position:relative;
top:50%;
left:50%;


-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);

		
color:#fff;
text-align:center;
font-family: 'DejaVu Sans';
font-size:4.44vh;
}
.BID_SimbolTX_sml{
margin:0px;
padding:0px;
height:2.77vh;
		
color:#fff;
text-align:center;
font-family: 'DejaVu Sans';
font-size:2.77vh;
}

.BID_Rgt_ADD{
margin:0px;
padding:0px;
position:relative;
width:13.88vh;
height:11.38vh;
top:50%;
left:50%;
/*background-color:red;*/

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
}

.BID_TX_3{
	margin:0px;
	padding:0px;
	top:50%;
	left:50%;
	position:absolute;	
	color:#fff;
	font-family: 'Roboto';    
	font-size:4.44vh;
}
.BID_TX_4{
	margin:0px;
	padding:0px;
	top:50%;
	left:50%;
	position:absolute;	
	color:#fff;
	font-family: 'Roboto';    
	font-size:2.77vh;
}
.TotalCArds{
position:absolute;	
width:129.4vh;
height:22.22vh;

left:50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);	
}
.S_card{
position:absolute;
width:15vh;
height:22.22vh;	
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;	

background: rgba(8,121,200,1);
background: -moz-linear-gradient(-45deg, rgba(8,121,200,1) 0%, rgba(138,199,247,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,121,200,1)), color-stop(100%, rgba(138,199,247,1)));
background: -webkit-linear-gradient(-45deg, rgba(8,121,200,1) 0%, rgba(138,199,247,1) 100%);
background: -o-linear-gradient(-45deg, rgba(8,121,200,1) 0%, rgba(138,199,247,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(8,121,200,1) 0%, rgba(138,199,247,1) 100%);
background: linear-gradient(135deg, rgba(8,121,200,1) 0%, rgba(138,199,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0879c8', endColorstr='#8ac7f7', GradientType=1 );
}
.PageThreeTotalArea{
position:absolute;
width:83.12vw;
height:100vh;
float:left;
}
.PageThreeTotal{
position:absolute;
width:116.1vh;
height:55.55vh;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);

}
.PageThreeTime {
position:absolute;
width:48.88vh;
height:14.44vh;
top:0px;
left:0px;
}
.PageThreeHistory {
position:absolute;
width:48.88vh;
height:14.44vh;
bottom:0px;
left:0px;
}
.PageThreePrivicy {
position:absolute;
width:48.88vh;
height:14.44vh;
top:0px;
right:0px;
}
.PageThreeKibitzer {
position:absolute;
width:48.88vh;
height:14.44vh;
bottom:0px;
right:0px;
}

.TitleTxt{
width:100%;
height:5.55vh;
position:absolute;
top:0px;
}
.TitleTextNamecl{
margin:0px;
padding:0px;
position:absolute;
top:0px;
font-family: 'Roboto';
font-size:3.33vh;
color:#ffffff;
left:50%;

-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.TitleBXarea{
position:absolute;
width:100%;
height:8.33vh;
bottom:0px;
border-top:solid 1px #FF8E00;
border-bottom:solid 1px #FF8E00;
}
#Time_Count_Sec{
position:absolute;
width:35vh;
height:8.33vh;
left:50%;
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform:translateX(-50%);
transform:translateX(-50%);	
}
.Time_Count_SecCls{
margin:0px;
padding:0px;
width:100%;
text-align:center;
font-family: 'Roboto';
color:#FF8E00;
font-size:3.33vh;
line-height:8.33vh;
}
#Time_Count_Neg {
position:absolute;
font-family: 'Roboto';
color:#FF8E00;
font-size:3.33vh;
left:3.33vh;
line-height:8.33vh;
}
#Time_Count_Pos{
position:absolute;
font-family: 'Roboto';
color:#FF8E00;
font-size:3.33vh;
right:3.33vh;
line-height:8.33vh;
}

.clCreateJoin {
position:absolute;
z-index:1;
border:solid 0px blue;
display:none;
}
#Right_Icon_One_Popup {
position:absolute;
width:22.22vh;
height:24.44vh;
top:5.83vh;
right:9.16vh;
}
#Right_Icon_Two_Popup {
position:absolute;
width:22.22vh;
height:24.44vh;
top:50%;
right:9.16vh;

-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);	
-o-transform:translateY(-50%);
transform:translateY(-50%);
}
#Right_Icon_Three_Popup {
position:absolute;
width:22.22vh;
height:24.44vh;
bottom:5.83vh;
right:9.16vh;
}
.Create_Icon {
position:absolute;
width:11.38vh;
height:11.38vh;
right:0px;
top:0px;
}
.Join_Icon {
position:absolute;
width:11.38vh;
height:11.38vh;
right:0px;
bottom:0px;
}
.Create_Icon img, .Join_Icon img {
position:absolute;
width:11.38vh;
height:11.38vh;
}
.createjoinicons{
position:relative;
width:11.38vh;
height:24.44vh;
float:right;
}
.createjointext{
position:relative;
width:9.44vh;
height:24.44vh;
float:left;
}
.TX_Create {
position:absolute;
font-family: 'Roboto';
color:#ffffff;
font-size:3.33vh;
top:3.5vh;
right:0px;
}
.TX_Join {
position:absolute;
font-family: 'Roboto';
color:#ffffff;
font-size:3.33vh;
top:16.5vh;
right:0px;
}
#FIVECARDS{
position:absolute;
width:80vh;
height:22.22vh;
top:19.44vh;
left:50%;

-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
#THREECARDS{
margin:0px;
padding:0px;
position:absolute;
width:47.22vh;
height:22.22vh;
bottom:19.44vh;
left:50%;

-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
#BID_1{
position:absolute;
left:0px;
}
#BID_2{
position:absolute;
left:50%;

-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
#BID_3{
position:absolute;
right:0px;
}
.CARDWITHBG{
height:22.22vh;
width:14.72vh;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

background: #ff8e00; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff8e00 1%, #f7c442 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ff8e00 1%,#f7c442 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ff8e00 1%,#f7c442 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e00', endColorstr='#f7c442',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.CARDWITHBDR{
height:22.22vh;
width:14.72vh;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:solid 1px #202B4F;
}
#OFTION_1{
position:relative;
float:left
}
#OFTION_2, #OFTION_3, #OFTION_4, #OFTION_5{
position:relative;
float:left;
margin-left:1.6vh;
}
.TircksNameclm2 p, .TircksNameclm1 p{
font-family: 'Roboto';
color:#ffffff;
font-size:2vh;
margin:0px;
padding:0px;
text-align:center;
color:#fff;
line-height:1.6vh;
}
#TircksArea{
position:absolute;
background-color:#18072B;
width:105vh;
height:37.77vh;
top:18.55vh;
left:50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
z-index:600;

}
#CloseBtn, #CloseBtnList{
position:absolute;
width:2.22vh;
height:2.22vh;
right:0px;
top:2.4vh;
}
#CloseBtn img, #CloseBtnList img{
position:absolute;
width:2.22vh;
height:2.22vh;
}
.TircksName{
position:absolute;
width:101.38vh;
height:2vh;
top:0px;
left:0px;
}
.TircksNameclm1{
position:relative;
float:left;
width:12.6vh;
height:2vh;
}
.TircksNameclm2{
position:relative;
float:left;
width:15.2vh;
height:2vh;
}
.OuterBD{
position:absolute;

border:solid 1px #FF8E00;
width:101.38vh;
height:35vh;
bottom:0px;
left:0px;
}
.OuterBDDown{
position:absolute;
border-top:solid 1px #FF8E00;

width:101.38vh;
height:4.72vh;
bottom:0px;
}
.OuterBDTotal{
position:absolute;
width:101.38vh;
height:30.2vh;
top:0px;
}
.OuterBDDownBid_1{
border-right:dotted 1px #FF8E00;
width:27.4vh;
height:4.72vh;
float:left;
}
.OuterBDDownBid_2{
border-right:dotted 1px #FF8E00;
width:45.05vh;
height:4.72vh;
float:left;
}
.OuterBDDownBid_3{
border-right:dotted 1px #FF8E00;
width:15.08vh;
height:4.72vh;
float:left;
}
.OuterBDDownBid_4{
width:12.3vh;
height:4.72vh;
float:left;
}
.clm1{
position:relative;
float:left;
width:12.3vh;
height:30.2vh;
}
.clm2{
position:relative;
float:left;
width:15.1vh;
height:30.2vh;
}
.clm3{
position:relative;
float:left;
width:15.1vh;
height:30.2vh;

border-left:dotted 1px #FF8E00;
border-right:dotted 1px #FF8E00;
}
.clmRow, .clmRowB, .clmRowG, .clmRowP{
position:relative;
float:left;
width:100%;
height:6.04vh;
}
.clmRowB p {
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:6.1vh;
color:#4ba8ef;
}
.clmRowG p {
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:6.1vh;
color:#4ab080;
}
.clmRowP p {
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:6.1vh;
color:#d64dec;
}
.clmRow p, .clmRowBDR p{
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:6.1vh;
color:#ff5b5e;
}
.OuterBDDownBid_1 p{
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:4.72vh;
color:#ff5b5e;
}
.OuterBDDownBid_2 p{
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:4.72vh;
color:#4ba8ef;
}
.OuterBDDownBid_3 p{
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:4.72vh;
color:#4ab080;
}
.OuterBDDownBid_4 p{
font-family: 'DejaVu Sans';
font-size:2.77vh;
margin:0px;
padding:0px;
text-align:center;
line-height:4.72vh;
color:#d64dec;
}
.clmRowBDR{
position:relative;
float:left;
width:100%;
height:6.04vh;
border-right:dotted 1px #FF8E00;
}
.DBL{
position:relative;
float:left;
width:100%;
height:auto;

border-bottom:dotted 1px #FF8E00;
border-right:dotted 1px #FF8E00;
}

#BIDINGAREA{
position:absolute;
width:102.07vh;
height:20.55vh;
top:20.83vh;
left:50%;

-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);

z-index:47;
}
.BIDINGAREA_L1{
position:absolute;
width:84.16vh;
height:20.55vh;
right:0px;
border:solid 1px #FF8E00;
}
.BIDINGAREA_R1{
position:absolute;
width:15.55vh;
height:20.55vh;
left:0px;
border:solid 1px #FF8E00;
}
.BIDINGAREA_L1_TP{
position:absolute;
width:84.16vh;
height:10.275vh;
top:0px;
border-bottom:solid 1px #FF8E00;
}
.BIDINGAREA_L1_BTM{
position:absolute;
width:84.16vh;
height:10.275vh;
bottom:0px;
}
#BIDINGAREA_R1_TP{
position:absolute;
width:15.55vh;
height:10.275vh;
top:0px;
border-bottom:solid 1px #FF8E00;
}
#BIDINGAREA_R1_BTM{
position:absolute;
width:15.55vh;
height:10.275vh;
bottom:0px;
}
#PASS{
position:absolute;
width:13.88vh;
height:10.275vh;
left:0px;
border-right:solid 1px #FF8E00;
}
#Number_1{
position:absolute;
width:13.88vh;
height:10.275vh;
left:0px;
}
#Number_7{
position:absolute;
width:13.88vh;
height:10.275vh;
right:0px;
}
#IDBID{
position:absolute;
width:13.88vh;
height:10.275vh;
right:0px;
border-left:solid 1px #FF8E00;
}
.BID_TX_Change1{
margin:0px;
padding:0px;
position:absolute;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
		
color:#FF8E00;
font-family: 'Roboto';  
font-size:2.77vh;
}
.BID_TX_Change2{
margin:0px;
padding:0px;
position:absolute;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
		
color:#636363;
font-family: 'Roboto';  
font-size:2.77vh;
}

.BTM_cardW{
margin:0px;
padding:0px;
position:absolute;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
		
color:#FFFFFF;
font-family: 'DejaVu Sans'; 
font-size:3.88vh;
}
.BTM_cardY{
margin:0px;
padding:0px;
position:absolute;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
		
color:#FF8E00;
font-family: 'DejaVu Sans';
font-size:3.88vh;
}
.BIDINGAREA_L1_BTM_2{
position:absolute;
width:56.3vh;
height:10.275vh;

left:50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);	
}
#BCARD_1, #BCARD_2, #BCARD_3, #BCARD_4, #BCARD_5, #Number_2, #Number_3, #Number_4, #Number_5, #Number_6{
margin:0px;
padding:0px;
position:relative;
width:11.26vh;
height:10.275vh;
float:left;
}
#ChatingArea{
position:absolute;
float:left;
width:94.69vw;
height:100vh;
z-index:55;
display:none;
}
.ChatingBox{
position:absolute;
width:94.69vw;
height:6.11vh;
bottom:0px;
background-color:#fff;
}
.ChatingAro{
position:absolute;
width:6.11vh;
height:6.11vh;
right:0px;
background-color:#FF8E00;
}
.ChatingTypeBD{
position:absolute;
width:88vw;
height:6.11vh;
left:0px;
}
.ChatingType{
margin:0px;
padding:0px;
position:absolute;
width:100%;
height:6.11vh;
left:0px;

padding-left:5vh;
border:0px;
outline:none;

top:50%;

-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);	
-o-transform:translateY(-50%);
transform:translateY(-50%);	
		
color:#000;
font-family: 'Roboto';  
font-size:2.77vh;
}

.ChatingType::-webkit-input-placeholder {
    color: #B2B2B2;
}
.ChatingType:-moz-placeholder {
    color: #B2B2B2;

}
.ChatingType::-moz-placeholder {
    color: #B2B2B2;

}
:-ms-input-placeholder {
    color: #B2B2B2;
}

#ChatingAroX {
position:absolute;
width: 1.4vh;
height: 2vh;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
  }
  #ChatingAroX:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 1vh solid #FF8E00;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
  }
  #ChatingAroX:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 1vh solid #000;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
  }
  
.SettingPage{
/*width:27.5vw;*/
width:48.88vh;
height:68.88vh;
position:absolute;
top:50%;
left:50%;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
}
.SettingPageLanguage {
position:absolute;
width:48.88vh;
height:14.44vh;
bottom:0px;
}
.SettingPageVibration {
position:absolute;
width:48.88vh;
height:14.44vh;
top:50%;

-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform: translateY(-50%);	
-o-transform:translateY(-50%);
transform:translateY(-50%);	
}
.SettingPageSound {
position:absolute;
width:48.88vh;
height:14.44vh;
top:0px;
}
#LanguageTX{
position:absolute;
width:35vh;
height:8.33vh;
left:50%;
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform:translateX(-50%);
transform:translateX(-50%);	
}
.LanguageTXCLS{
margin:0px;
padding:0px;
width:100%;
text-align:center;
font-family: 'Roboto';
color:#fff;
font-size:3.33vh;
line-height:8.33vh;
}
#arrow_down_Lft{
position:absolute;
width: 1.8vh; 
height: 1.2vh; 
left:2.77vh;
top:3.88vh;
}
#arrow_down_Rgt{
position:absolute;
width: 1.8vh; 
height: 1.2vh; 
right:2.77vh;
top:3.88vh;
}
.arrow_down {
position:absolute;
width: 0; 
height: 0; 
border-left: 0.8vh solid transparent;
border-right: 0.8vh solid transparent;
border-top: 1vh solid #FF8E00;
}
#soundon, #vibrationon, #playhistoryon, #tableon, #kibitzeron{
position:absolute;
width:24.44vh;
height:8.33vh;
border-right:solid 1px #FF8E00;
left:0px;
}
#soundoff, #vibrationoff, #playhistoryoff, #tableoff, #kibitzeroff{
position:absolute;
right:0px;
width:24.16vh;
height:8.33vh;
}

.ActiveClor{
width:100%;
font-size:3.33vh;
font-family: 'Roboto';
color:#FF8E00;
text-align:center;
line-height:8.33vh;
}
.DactiveClor{
font-family: 'Roboto';
color:#B2B2B2;
width:100%;
font-size:3.33vh;
line-height:8.33vh;
text-align:center;
}
#HanSoloArea{
position:absolute;
/*width: 43.88vh;*/
width: 60vh;
height: 46.11vh;
top:50%;
left:50%;
z-index:65;
display:none;

-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);	
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);	
}
.ProfilePic{
position:absolute;
width:19.44vh;
height:19.44vh;
top:0px;
left:50%;
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform:translateX(-50%);
transform:translateX(-50%);	
}
#ProfilePicID{
position:absolute;
top:0px;
background-color:#6b3b55;
width:19.44vh;
height:19.44vh;

-moz-border-radius: 9.72vh;
-webkit-border-radius: 9.72vh;
border-radius: 9.72vh;
}
.ProfileTxArea{
position:absolute;
top:22.22vh;
width:100%;
height:8.33vh;
}
#ProfileNameID{
position:absolute;
top:0px;
width:100%;
height:3.33vh;
}
.ProfileNameCls{
margin:0px;
padding:0px;
font-family: 'Roboto';
font-size:3.33vh;
color:#ffffff;
text-align:center;
}
.HanSoloIconArea{
position:absolute;
width: 31.11vh;
height: 3.33vh;

bottom:7.22vh;
left:50%;
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform:translateX(-50%);
transform:translateX(-50%);	
}
#HanSoloIcon_1{
position:absolute;
left:0px;
width: 3.05vh;
height: 3.33vh;
}
#HanSoloIcon_2{
position:absolute;
width: 3.33vh;
height: 3.33vh;

left:50%;
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform:translateX(-50%);
transform:translateX(-50%);	
}
#HanSoloIcon_3{
position:absolute;
right:0px;
width: 2.5vh;
height: 3.33vh;
}
#HanSoloIcon_1 img{
margin:0px;
padding:0px;
position:absolute;
width: 3.05vh;
height: 3.33vh;
}
#HanSoloIcon_2 img{
margin:0px;
padding:0px;
position:absolute;
width: 3.33vh;
height: 3.33vh;
}
#HanSoloIcon_3 img{
margin:0px;
padding:0px;
position:absolute;
width: 2.5vh;
height: 3.33vh;
}
#ProfileNamePlr{
position:absolute;
bottom:0px;

width:100%;
height:3.33vh;
}
.ChatingRlst{
position:absolute;
left:5vh;
bottom:6.11vh;
width:87.69vw;
height:93.99vh;

}
.ChatingNotificationTx{
width:100%;
position:absolute;
bottom:0px;
margin:0px;
font-family: 'Roboto';
font-size:3.33vh;
color:#00FFFF;
text-align:left;
float:left;
padding:3.33vh 0vh;
text-decoration:none;
}
#NotificationAccept, #NotificationDeny{
margin-left:5.55vh;
text-decoration:underline;
}
.ChatingTxMe{
width:100%;
position:absolute;
bottom:10vh;
margin:0px;
font-family: 'Roboto';
font-size:3.33vh;
color:#B2B2B2;
text-align:left;
float:left;
padding:3.33vh 0vh;
text-decoration:none;
border-bottom:dotted 1px gray;
}
#MeMsg{
color:#FFFFFF;
}
#YouMsg{
color:#FF8E00;
}
.ChatingTxYou{
width:100%;
position:absolute;
bottom:20vh;
margin:0px;
font-family: 'Roboto';
font-size:3.33vh;
color:#B2B2B2;
text-align:left;
float:left;
padding:3.33vh 0vh;
text-decoration:none;
border-bottom:dotted 1px gray;
}
/*************friendlist***************/

#Friendlist{
position:absolute;
background-color:#18072B;
width:48vh;
height:62vh;
top:18.55vh;
left:50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);	
-o-transform: translateX(-50%);
transform: translateX(-50%);
z-index:600;
}
.OuterBDfriend{
position:absolute;
border:solid 1px #FF8E00;
width:44.3vh;
height:59.3vh;
bottom:0px;
left:0px;
}
.FrndListItem {
margin:0px;
padding:0 3vh;
list-style-type: none;
}
 
.FrndListItem li {
float:left;
width:100%;
border-bottom: 1px dotted #FF8E00;
padding: 2.9vh 0; 
font-family: 'Roboto';
font-size:2.5vh;
color:#fff;
}
 
.FrndListItem li:last-child {
border-bottom: none;
}





/* ---------- login ---------- */
#loginbody {
 background-color:#18072B;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  width:100vw;
  height:100vh;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
/************login close************/
        }