
	<div class="CARDWITHBG" id="BID_1" ng-if="threeCard1">
		<div class="BID_body_1"><div class="BID_TX_1">pattern</div></div>
		<div class="BID_body_2"><div class="BID_TX_2"><span>4,4,3,2</span></div></div>
	</div>
	<div class="CARDWITHBG" id="BID_2"  ng-if="threeCard2">
		<div class="BID_body_1"><div class="BID_TX_1">card</div></div>
		<div class="BID_body_2"><div class="BID_SimbolTX"><span>A&#x2666;</span></div></div>
	</div>
	<div class="CARDWITHBG" id="BID_3"  ng-if="threeCard3">
		<!--<div class="BID_body_1"><div class="BID_SimbolTX_sml"><span>&#x2660;/&#x2665;/&#x2666;/&#x2663;</span></div></div>
		<div class="BID_body_2"><div class="BID_TX_2"><span>select</span></div></div>-->
		<div class="BID_body_1"><div class="BID_TX_1">diamonds</div></div>
		<div class="BID_body_2"><div class="BID_TX_2"><span>4</span></div></div>
	</div>
